/* Flash Deal */
.content__advertisement-price-wrapper {
    width: 100%;
}

.content__advertisement-price{
    width: 736px;
    height: 274px;
    background: white;
    border-radius: 4px;
    margin-right: 16px;
    overflow: hidden;
}

.content__advertisement-price--header{
    padding: 16px 16px 8px;
}

.content__advertisement-price--header-left{
    justify-content: flex-start;
    cursor: pointer;
}

.content__advertisement-price--header-left__price img{
    height: 28px;
}

.content__advertisement-price--header-left__price img:nth-child(2){
    animation: 0.8s linear 0s infinite normal none running flash;
}

@keyframes flash{
    50% {
        opacity: 0.3;
        transform: scale(1.3);
    }
}

.content__advertisement-price--header-left__time{
    font-size: 15px;
    color: rgb(120, 120, 120);
}

.content__advertisement-price--header-left__time-hour,
.content__advertisement-price--header-left__time-minute,
.content__advertisement-price--header-left__time-second{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0px 4px;
    padding: 0px 3px;
    background-color: rgb(255, 66, 78);
    border-radius: 4px;
    color: white;
}

.content__advertisement-price--header-showmore a{
    font-size: 16px;
    line-height: 24px;
}

.content__advertisement-price--header-showmore:hover a{
    color: #0d6efd;;
}

/* Slider Video */
.content__advertisement-price--slider-wrapper{
    width: 488px;
    height: 274px;
    border-radius: 4px;
    overflow: hidden;
}

.content__advertisement-price--slider img,
.content__advertisement-price--slider video{
    width: 100%;
    height: 100%;
}

.content__advertisement-price--slider__dots-list{
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
    list-style-type: none;
}

.content__advertisement-price--slider__dots-list li {
    margin: 0 6px;
}

.content__advertisement-price--slider__dots-list button{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgb(64, 45, 161);
    font-size: 0; /*Hide index of dot */
}

.content__advertisement-price--slider__dots-list .slick-active > button {
    background-color: rgb(171, 155, 250);
}

.content__advertisement-price--slider-video{
    width: 100%;
    height: 100%;
}

.content__advertisement-price--slider-video__play-btn{
    width: 80px;
    height: 80px;
    background-color: rgba(39, 39, 42, 0.7);
    cursor: pointer;
}

.content__advertisement-price--slider-video__play-btn img{
    width: 36px;
    height: 36px;
}

.content__advertisement-price--slider-video__sound-btn{
    top: 16px;
    right: 16px;
    width: 28px;
    height: 28px;
    background-color: rgba(39, 39, 42, 0.7);
    cursor: pointer;
}

.content__advertisement-price--slider-video__sound-btn img {
    width: 24px;
    height: 24px;
}