.content__authentic-brand{
    background-color: white;
    margin-top: 16px;
    padding-bottom: 13px;
}

/* Header */
.content__authentic-brand--header{
    height: 60px;
    padding: 16px;
    line-height: 28px;
    color: rgb(36, 36, 36);
}

.content__authentic-brand--header__title{
    font-size: 20px;
}

.content__authentic-brand--header__text{
    margin-left: 8px;
}

.content__authentic-brand--header__icon{
    width: 24px;
    height: 24px;
    margin: auto 0;
}

.content__authentic-brand--header__seemore{
    font-size: 15px;
    line-height: 24px;
}

/* Slider */
.content__authentic-brand--slider{
    height: 222px;
    margin-bottom: 12px;
}

.content__authentic-brand--slider__list{
    height: 100%;
    min-height: 202px;
    margin: 0 8px;
}

.content__authentic-brand--slider__btn{
    width: 80px;
    height: 100%;
    z-index: 100;
}

.content__authentic-brand--slider__btn img{
    width: 32px;
    margin-top: -20px;
    opacity: 0.3;
}

.content__authentic-brand--slider__btn:hover img{
    opacity: 1;
}

.content__authentic-brand--slider__btn.prev-btn{
    left: 8px;
}

.content__authentic-brand--slider__btn.prev-btn img{
    transform: rotate(180deg);
}

.content__authentic-brand--slider__btn.next-btn{
    right: 8px;
}

.content__authentic-brand--slider__img{
    margin: 0 auto;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 8px;
    width: 598px;
    height: 201px;
    object-fit: cover;
}

.content__authentic-brand__dot-list{
    width: 100%;
}

.content__authentic-brand__dot-list button{
    width: 8px;
    height: 8px;
    padding: 0;
    margin: 1px 2px;
    font-size: 0px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.content__authentic-brand__dot-list .slick-active > button{
    background-color: rgb(26, 148, 255);
}

/* Product */
.content__authentic-brand--product::before{
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 120px;
    z-index: 1;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    left: 0px;
    transition: width 0.05s ease-in 0s;
    pointer-events: none;
}

.content__authentic-brand--product::after{
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 120px;
    z-index: 1;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    right: 0px;
    transition: width 0.05s ease-in 0s;
    pointer-events: none;
}


.content__authentic-brand--product__list{
    min-height: 287px;
    margin: 0 9px;
}

.content__authentic-brand--product__list:hover .content__authentic-brand--product__btn{
    opacity: 1;
}

.content__authentic-brand--product__item{
    /* width: 204px; */
    height: auto;
    outline: none;
}

.content__authentic-brand--product__link{
    width: 100%;
    height: 100%;
}

.content__authentic-brand--product__img{
    width: 190px;
    height: 284px;
    margin: 0 auto;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 8px;
}

.content__authentic-brand--product__title{
    margin-bottom: 4px;
    color: rgb(26, 148, 255);
}

.content__authentic-brand--product__btn{
    width: 28px;
    height: 28px;
    border: 1px solid rgb(204, 204, 204);
    z-index: 100;
    opacity: 0.3;
    cursor: pointer;
}

.content__authentic-brand--product__icon{
    font-size: 18px;
}
