.content__quicklink{
    width: 100%;
    margin: 16px 0;
    padding: 16px 0;
    background-color: white;
}

.content__quicklink-link{
    flex-basis: 103px;
    flex-shrink: 0;
}

.content__quicklink-img{
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.content__quicklink-title{
    margin-top: 12px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    color: rgb(36, 36, 36);
    width: 81px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}