@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color: rgb(26, 148, 255);
    --button-color: rgb(13, 92, 182);

    --header-width: 1270px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.15;
    background-color: #efefef;
}

img{
    max-width: 100%;
    border-style: none;
}

a{
    text-decoration: none;
    background-color: transparent;
}

a:hover{
    opacity: 0.95;
}

ul{
    padding-left: 0;
    margin-bottom: 0;
}


.app__container{
    width: var(--header-width);
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.header{
    background-color: var(--primary-color);
}

.header:hover a{
    color: white;
}

.header__top{
    padding: 16px 0 10px;
}

.header__logo-and-search{
    flex: 1 1 0%;
}

.header__search{
    flex: 1 1 0%;
}

.header__search-input{
    padding: 0px 12px;
    font-size: 13px;
    border-radius: 2px 0px 0px 2px;
    flex: 1 1 0%;
    outline: none;
}

.header__search-button{
    cursor: pointer;
    width: 120px;
    background-color: var(--button-color);
    margin-right: 8px;
    height: 40px;
    border-radius: 0px 2px 2px 0px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    outline: none;
}

.header__search-icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.header__logo-menu{
    display: flex;
    align-items: flex-start;
    flex-basis: 190px;
    flex-shrink: 0;
    margin-right: 16px;
}

.header__logo{
    display: block;
    height: 40px;
    width: 60px;
}

.header__logo-img{
    height: 100%;
    width: 100%;
}

.header__profile-icon{
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 2px;
}

.header__auth{
    width: 162px;
    margin-left: 16px;
}

.header__auth-action,
.header__auth-account{
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    text-transform: capitalize;
    line-height: 16px;
    color: white;
    cursor: pointer;
}

.header__auth-action{
    font-size: 11px;
}

.header__auth-account{
    font-size: 13px;
}

.header__auth-account--menu-icon{
    width: 16px;
    height: 16px;
}

.header__cart-link--content{
    width: 94px;
    margin-left: 16px;
}

.header__cart-wrapper{
    position: relative;
    margin-right: 8px;
}

.header__cart-icon{
    width: 32px;
    height: 32px;
}

.header__cart-number{
    position: absolute;
    padding: 0px 7px;
    height: 20px;
    left: 20px;
    top: -2px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(36, 36, 36);
    background: rgb(253, 216, 53);
}

.header__cart-text{
    font-size: 12px;
    color: white;
}

.header__bottom-freeship--img{
    width: 83px;
    height: 12px;
}

.header__bottom-quicklink--list{
    margin-left: 206px;
    list-style: none;
}

.header__bottom-quicklink-item{
    display: block;
    font-size: 11px;
    line-height: 16px;
    margin-right: 12px;
}

.header__bottom-quicklink-link{
    color: white;
}

.header__bottom-sell--link{
    height: 22px;
    padding: 0 8px;
    margin-bottom: 12px;
    border-radius: 10px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, .25);
    color: white;
}

.header__bottom-sell--icon{
    height: 12px;
    width: 12px;
    margin-right: 4px;
}
/* End Header */

/* Begin Content */

/* Category */
.content__categories{
    width: 1240px;
    height: 44px;
    margin: 0 auto;
    background-color: white;
}

.content__categories-icon--wrapper {
    width: 8px;
    height: 14px;
    cursor: pointer;
    margin-bottom: 4px;
}

.content__categories-icon{
    font-size: 16px;
}

.content__categories-list{
    padding: 15px 0;
    list-style-type: none; 
}

.content__categories-item{
    padding: 0 15px;
}

.content__categories-link{
    font-size: 14px;
    color: rgb(56, 56, 61);
    text-decoration: none;
    display: inline-block;
}

.content__categories-link:hover{
    color: rgb(56, 56, 61);
}
/* End Content */