@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
:root {
    --primary-color: rgb(26, 148, 255);
    --button-color: rgb(13, 92, 182);
    --content-background-color: rgb(245, 245, 250);

    --header-width: 1270px;
    --slider-image-width: 824px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.15;
    text-size-adjust: 100%;
}

img {
    max-width: 100%;
    border-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    opacity: 0.95;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.app__container {
    width: var(--header-width);
    margin: 0 auto;
    padding: 0 15px;
}

