@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --primary-color: rgb(26, 148, 255);
    --button-color: rgb(13, 92, 182);
    --content-background-color: #efefef;

    --header-width: 1270px;
    --slider-image-width: 824px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.15;
    text-size-adjust: 100%;
}

img {
    max-width: 100%;
    border-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    opacity: 0.95;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

.app__container {
    width: var(--header-width);
    margin: 0 auto;
    padding: 0 15px;
}

